{% extends "base3.html" %}

{% block content %}

<div class="space-y-6">


<!-- HEADER -->

<section class="rounded-3xl bg-gradient-to-r from-lime-500 to-green-600 p-8 text-white shadow">

<div class="flex flex-col justify-between gap-5 md:flex-row md:items-center">


<div>

<div class="flex items-center gap-3">

<div class="grid h-14 w-14 place-items-center rounded-2xl bg-white/20">

<i class="fa-solid fa-building text-2xl"></i>

</div>


<div>

<h1 class="text-3xl font-bold">
Agent Properties
</h1>

<p class="text-sm text-white/80">
Manage all agent property listings
</p>

</div>

</div>

</div>



<button
onclick="openAddPropertyModal()"
class="rounded-xl bg-white px-6 py-3 font-semibold text-green-700 shadow hover:bg-gray-100">

<i class="fa-solid fa-plus mr-2"></i>

Add Property

</button>


</div>

</section>





<!-- TABLE -->

<section class="rounded-3xl bg-white shadow">


<div class="overflow-x-auto">


<table class="min-w-[1700px] w-full">


<thead class="bg-gray-100">


<tr class="text-left text-sm font-semibold text-gray-700">


<th class="px-5 py-4">
Property Code
</th>


<th class="px-5 py-4">
Image
</th>


<th class="px-5 py-4">
Category
</th>


<th class="px-5 py-4">
Purpose
</th>


<th class="px-5 py-4">
Label
</th>


<th class="px-5 py-4">
Sq.Ft
</th>


<th class="px-5 py-4">
City
</th>


<th class="px-5 py-4">
Taluk
</th>


<th class="px-5 py-4">
Village
</th>


<th class="px-5 py-4">
District
</th>


<th class="px-5 py-4">
State
</th>


<th class="px-5 py-4">
Price
</th>


<th class="px-5 py-4">
Owner
</th>


<th class="px-5 py-4">
Phone
</th>


<th class="px-5 py-4">
Payment
</th>


<th class="px-5 py-4">
Added By
</th>


<th class="px-5 py-4">
Featured
</th>


<th class="px-5 py-4">
Created
</th>


<th class="px-5 py-4">
Actions
</th>


</tr>


</thead>





<tbody class="divide-y">



{% for property in properties %}


<tr class="text-sm text-gray-700">



<td class="px-5 py-4 font-semibold">

{{property.property_hash_id|default:"-"}}

</td>




<td class="px-5 py-4">


{% if property.image %}

<img
src="{{property.image.url}}"
class="h-14 w-14 rounded-xl object-cover">


{% else %}

<div class="grid h-14 w-14 place-items-center rounded-xl bg-gray-100">

<i class="fa-solid fa-image text-gray-400"></i>

</div>

{% endif %}


</td>





<td class="px-5 py-4">

{{property.category.name}}

</td>



<td class="px-5 py-4">

{{property.purpose.name}}

</td>




<td class="px-5 py-4 font-medium">

{{property.label}}

</td>




<td class="px-5 py-4">

{{property.sq_ft|default:"-"}}

</td>




<td class="px-5 py-4">

{{property.city}}

</td>




<td class="px-5 py-4">

{{property.taluk|default:"-"}}

</td>




<td class="px-5 py-4">

{{property.village|default:"-"}}

</td>




<td class="px-5 py-4">

{{property.district}}

</td>




<td class="px-5 py-4">

{{property.state|default:"-"}}

</td>




<td class="px-5 py-4">

₹{{property.price}}

</td>




<td class="px-5 py-4">

{{property.owner|default:"-"}}

</td>




<td class="px-5 py-4">

{{property.phone|default:"-"}}

</td>




<td class="px-5 py-4">


{% if property.paid %}


<span class="rounded-full bg-green-100 px-3 py-1 text-xs text-green-700">

Paid

</span>


{% else %}


<span class="rounded-full bg-red-100 px-3 py-1 text-xs text-red-700">

Unpaid

</span>


{% endif %}


</td>





<td class="px-5 py-4">

{{property.agent.username|default:"-"}}

</td>





<td class="px-5 py-4">


{% if property.is_featured %}


<span class="text-green-600 font-semibold">

Featured

</span>


{% else %}


<span class="text-gray-400">

Normal

</span>


{% endif %}


</td>





<td class="px-5 py-4">

{{property.created_at|date:"d M Y"}}

</td>





<td class="px-5 py-4">


<div class="flex gap-2">



<button
onclick="openEditPropertyModal('{{property.id}}')"
class="rounded-lg bg-blue-500 px-3 py-2 text-white hover:bg-blue-600">

<i class="fa-solid fa-pen"></i>

</button>





<button
onclick="openDeletePropertyModal('{{property.id}}')"
class="rounded-lg bg-red-500 px-3 py-2 text-white hover:bg-red-600">

<i class="fa-solid fa-trash"></i>

</button>



</div>


</td>



</tr>



{% empty %}


<tr>

<td colspan="19"
class="py-10 text-center text-gray-500">

No properties found

</td>

</tr>


{% endfor %}



</tbody>


</table>


</div>


</section>



</div>





{% include "agent_property/add_property_modal.html" %}

{% include "agent_property/edit_property_modal.html" %}

{% include "agent_property/delete_property_modal.html" %}



{% endblock %}